@model PracticeCore.Models.Book;
@inject PracticeCore.Repository.IBookRepository boorkrepo;
@{ 
    var data = ViewData["book"] as PracticeCore.Models.Book;
    ViewData["title1"] = "HomePage";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to BookStore @ViewData["title"] @data.id</h1>
        <p class="lead text-muted">
            In publishing and graphic design, Lorem ipsum is a placeholder text
            commonly used to demonstrate the visual form of a document or a typeface
            without relying on meaningful content. Lorem ipsum may be used as a
            placeholder before final copy is available. It is also used to temporarily
            replace text in a process called greeking, which allows designers to consider
            the form of a webpage or publication, without the meaning of the text
            influencing the design.
        </p>
        <p>
            <a href="#" class=" btn btn-primary my-3">Click Here</a>
        </p>
        @*@foreach (var item in await boorkrepo.GetAll())
        {
            <h1>@item.title</h1>
        }*@
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>
        @await Component.InvokeAsync("TopBook");
        @*<vc:top-book></vc:top-book>*@
        
    </div>
</div>
@section script{ 
<script>
    $(document).ready(function () {
        console.log("Hello world");
    })
</script>
}

