################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PracticeCore/.vs/PracticeCore
/PracticeCore/PracticeCore/bin/Debug/netcoreapp3.1
/PracticeCore/PracticeCore/obj
