
<footer class="border-top footer text-muted text-center">
    <div class="container">
        opyright  &copy; Book Store @DateTime.Now.Year
        <custom-email></custom-email>
    </div>
</footer>